@tailwind base;
@tailwind components;
@tailwind utilities;

a {
    @apply text-black cursor-pointer;
    text-decoration: none;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(250, 250, 250);
}

body {
    display: block
}

.header {
    @apply flex flex-col items-start h-auto p-4;
}

.header-search {
    @apply flex-grow w-[516px] h-[48px] border-2 border-solid border-[#0080ff] px-4;
}

.search-button {
    @apply w-[80px] h-[48px] rounded-[5px] border-none bg-[rgb(37,147,255)] text-white cursor-pointer;
}

.search-container{
    @apply flex items-center gap-2 mt-2 w-full;
}

.page-nation{
    @apply flex justify-center mt-[4px]
}

.page-nation-btn{
    @apply px-[4px] py-[2px] mx-[1px]
}

.delete-btn{
    @apply mt-[4px] bg-red-600 text-white px-[4px] py-[2px]
}